body{
    background-color: #F5F5F5;
}

div{
    padding: 0.4em;
}

#sedapp{
    transition: width 0.3s ease;
    height: 380px;
    width: 270px;
}

#sedapp:hover{
    width: 300px;
}

#profil{
    transition: box-shadow 0.3s ease;
}

#profil:hover{
    box-shadow: 0 0 7px;
}